.container {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}
.picture-bg {
  border-radius: 4px;
  padding: 10px;
  background: #fff;
}
.picture {
  position: relative;
  background-size: cover;
  border-radius: 4px;
  /* height: 60vh;
  width: 100%; */
}
.picture-wrapper {
  padding: 30px 0;
  background: #7474BF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.picture .piece {
  cursor: crosshair;
  background: black;
  /* filter: blur(1px); */
  border: 0px dashed;
  text-align: center;
  position: absolute;
}
.picture .piece.matched {
  /*stop animation*/
  animation-name: none;
  background: rgba(255, 255, 255, 0.5);
}
.picture .piece.allowed {
  background: green;
}
.picture .piece.not-allowed {
  background: red;
}
.deck {
  display: flex;
  justify-content: center;
}
.deck .piece {
  cursor: pointer;
  margin: 1rem;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  text-shadow: 0px 1px 1px #444;
}
.picture .piece:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, white 50%, transparent 0%);
  background-size: 10px 2px;
  background-repeat: repeat-x;

  animation-name: running-lines-before;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.picture .piece:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, white 50%, transparent 0%);
  background-size: 10px 2px;
  background-repeat: repeat-x;

  animation-name: running-lines-after;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes running-lines-before {
  0% {
    background-position: 0% bottom;
  }
  100% {
    background-position: 100% bottom;
  }
}
@keyframes running-lines-after {
  0% {
    background-position: 0% top;
  }
  100% {
    background-position: 100% top;
  }
}

.progress-bar {
  position: relative;
  width: 240px;
  height: 20px;
  background: #ededed;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar .progress {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 10px;
  bottom: 0;
  transition: all 3s ease;
  animation-name:  progress-animation;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  width: 0;
}

@keyframes progress-animation {
  0% {
    width: 100%;
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  25% {
    width: 75%;
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  50% {
    width: 50%;
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  75% {
    width: 25%;
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  100% {
    width: 0%;
    background: red;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, red, red);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, red, red); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}