.history-result-wrapper {
  padding-bottom: 10px;
}

.history-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.history-header-container {
  background: #20273e;
}

.history-header-container .history-header-inner {
  max-width: 600px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  color: #fff;
}

.history-header-container .history-delete-icon {
  padding: 20px;
  cursor: pointer;
}

.history-header .history-header-title {
  flex: 1;
  font-size: 15px;
  text-align: center;
  margin-right: 49px;
}

.history-header .history-back-arrow {
  font-size: 18px;
  padding: 20px;
  cursor: pointer;
}

.history-content {
  padding: 87px 0 0 0;
}

.history-content .history-date {
  background: #5684c0;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.history-content .history-date .history-date-inner {
  padding: 5px 20px;
  max-width: 600px;
  margin: auto;
}

.history-content .history-result {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: solid 1px #f3f3f3;
  max-width: 600px;
  margin: auto;
}

.history-content .history-result:last-child {
  border-bottom: 0;
}

.history-content .history-result .history-score {
  flex: 1;
  padding: 0 20px;
}

.history-content .history-result .history-time {
  font-weight: 600;
  font-size: 10px;
  color: #555555;
  flex-basis: 65px;
}

.history-content .history-result .history-level {
  font-size: 10px;
}

.history-content .history-result .score {
  font-size: 14px;
  margin-right: 5px;
}

.placeholder {
  white-space: nowrap;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.2;
}

.highest-content-bar {
  background: #26af26;
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.highest-content-bar .highest-content-bar-inner {
  display: flex;  
  justify-content: space-around;
  padding: 5px 20px;
  max-width: 600px;
  margin: auto;
}
