html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.home {
  background-image: url(/assets/images/background.png);
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 13rem;
  cursor: pointer;
  text-align: center;
  line-height: 4.5rem;
  font-size: 2rem;
  height: 4.5rem;
  background: #f15922;
  border: 8px black;
}