
@keyframes SlideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.update {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  transform: translateY(-100%);
  transition: 0.3s;
}

.update.open {
  transform: translateY(0%);
}

.update .inner-container {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  color: #5c7dc2;
  font-weight: bold;
  align-items: center;
}

.update img {
  width: 18px;
}

.home {
  background-color: #20273e;
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .logo {
  margin-bottom: 200px;
}


.home .shape1 {
  width: 100px;
  height: 80px;
  background: transparent;
  border: solid 8px #fff;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.home .shape2 {
  margin: 10px 0 0 10px;
  width: 15px;
  height: 12px;
  background: #5c7dc2;
}

.home .shape2.shape3 {
  background: #fff;
  position: absolute;
  top: 80px;
  left: 26px;
  animation: logo-animation 2s infinite ease;
}

@keyframes logo-animation {
  0% {
    top: 80px;
    left: 26px;
  }

  100% {
    top: 0px;
    left: 0px;
  }
}

.footer-text {
  position: fixed;
  bottom: 24px;
  text-align: center;
  font-size: 10px;
  line-height: 18px;
  color: #adadad;
  font-weight: 600;
  max-width: 600px;
  padding: 0 20px;
}

.footer-text .footer-link {
  color: #5c7dc2;
  margin: 0 5px;
}

.hamburger-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 600px;
  margin: auto;
  left: 0;
  display: flex;
  justify-content: flex-end;
}