.score-board {
  /* background-image: url(/assets/images/background.png); */
  background-color: #20273E;  
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.score-card-container{
    margin-bottom: 200px;   
}
.score-card {
    background: #fff;
    height: auto;
    width: 290px;
    text-align: center;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.score-card .score-card-inner {
    flex: 1;
    padding: 30px 20px;
}
.score-card .label {
    color: #4984c5;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
.score-card .score {
    color: #20273E;
    font-size: 28px;
    margin-top: 5px;
}

.score-card .score-result {
    font-size: 22px;
    width: 100%;
    padding: 10px;
    background: #f7f7f7;  
}
.link-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.social-media {
    div{
        display: flex;
      justify-content: center;
      align-items: center;
    }

      .icon {
        height: 1.5rem;
        padding: 0;
        background-color: white;
        border-radius: 100%;
        margin: 0 0.5rem;
    }
    
  }