
.footer-text {
  // position: fixed;
  // left: 0;
  // right: 0;
  // margin: auto;
  // bottom: 24px;
  // max-width: 600px;
  
  text-align: center;
  font-size: 10px;
  line-height: 18px;
  color: #adadad;
  font-weight: 600;
  padding: 0 20px;
  .footer-link {
    color: #5c7dc2;
    margin: 0 5px;
  }
}