.App {
  font-family: sans-serif;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin: 1rem 0;
  border: 0.1rem solid;
}
.picture {
  position: relative;
  background-size: cover;
}
.picture .piece {
  cursor: crosshair;
  background: black;
  /* filter: blur(1px); */
  border: 0px dashed;
  text-align: center;
  position: absolute;
}
.picture .piece.matched {
  /*stop animation*/
  animation-name: none;
  background: rgba(255, 255, 255, 0.5);
}
.picture .piece.allowed {
  background: green;
}
.picture .piece.not-allowed {
  background: red;
}
.deck {
  display: flex;
  justify-content: center;
}
.deck .piece {
  cursor: pointer;
  margin: 1rem;
}
.picture .piece:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, silver 50%, transparent 0%);
  background-size: 10px 2px;
  background-repeat: repeat-x;

  animation-name: running-lines-before;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.picture .piece:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, silver 50%, transparent 0%);
  background-size: 10px 2px;
  background-repeat: repeat-x;

  animation-name: running-lines-after;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes running-lines-before {
  0% {
    background-position: 0% bottom;
  }
  100% {
    background-position: 100% bottom;
  }
}
@keyframes running-lines-after {
  0% {
    background-position: 0% top;
  }
  100% {
    background-position: 100% top;
  }
}
