.settings-wrapper {
  background: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  animation: slide-right 400ms;
  .settings-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    .settings-header-title {
      flex: 1;
      font-size: 15px;
      text-align: center;
      margin-right: 49px;
    }
    .settings-back-arrow {
      font-size: 18px;
      padding: 20px;
      cursor: pointer;
    }
  }
}

.settings-header-container {
  background: #20273e;
  .settings-header-inner {
    max-width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    color: #fff;
  }
  .settings-delete-icon {
    padding: 20px;
    cursor: pointer;
  }
}


.settings-content-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 62px;
  bottom: 0;
  overflow-y: auto;
  .settings-content {
    max-width: 600px;
    margin: auto;
    .settings-list-item-title {
      flex: 1;
      padding: 0 20px;
      font-weight: 600;
      color: #888;
    }
    .settings-list-item-icon {
      max-width: 20px;
    }
    .settings-list-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 20px;
      border-bottom: 1px solid #ededed;
      font-size: 13px;
    }
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}